.Project-image {
    width: 70%;
    padding: .1vh;
    margin: 1vh;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.38);
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.38);
}

/*hover tricks https://github.com/IanLunn/Hover/blob/master/README.md#hovercss- */

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    width: 50%;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}